<div class="fixed right-10 top-1/2 -translate-y-1/2 flex flex-col items-end z-50 select-none">
  <!-- Scrollbar track -->
  <div class="relative h-[80vh] w-[6px] bg-neutral-300/60 rounded-full flex flex-col justify-between">
    <ng-container *ngFor="let s of sections; let i = index">
      <div class="relative w-full flex-1 my-[2px] bg-neutral-300/60 rounded-full overflow-hidden cursor-pointer"
        (click)="navigate.emit(s.id)">
        <div class="absolute left-0 top-0 w-full bg-blue-600 rounded-full transition-all duration-500 ease-out"
          [style.height.%]="progressSegments[i]"></div>
      </div>
    </ng-container>
  </div>

  <!-- Labels -->
  <div class="absolute right-[2.5rem] top-1/2 -translate-y-1/2 flex flex-col justify-between h-[80vh] py-3">
    <div *ngFor="let s of sections" class="cursor-pointer text-right transition-all duration-300"
      (click)="navigate.emit(s.id)">
      <span class="text-[0.95rem] font-medium" [class.text-blue-700]="s.id === activeSection"
        [class.text-gray-600]="s.id !== activeSection">
        {{ s.label }}
      </span>
    </div>
  </div>
</div>