<section>
<div class="relative h-screen w-full flex flex-col items-center justify-center overflow-hidden text-center">
  <div class="relative opacity-0 translate-y-24" #photoWrapper>
    <img #coverImg src="assets/images/stevejobs.jpg" alt="Steve Jobs"
      class="object-contain max-h-[370px] rounded-sm shadow-[0_10px_25px_rgba(0,0,0,0.25)] border border-[#dcdcdc]" />
  </div>

  <div class="opacity-0 mt-12" #line1>
    <h1 class="text-[1.5rem] md:text-[1.7rem] font-serif font-semibold text-white mb-2 leading-tight">
      Make Something Wonderful
    </h1>
  </div>

  <div class="opacity-0" #line2>
    <h2 class="text-[1.4rem] md:text-[1.5rem] italic text-[#0a0a0a] tracking-wide font-medium">
      Steve Jobs in his own words
    </h2>
  </div>

</div>
</section>


<div class="min-h-screen flex items-center justify-center px-6 text-center bg-[var(--background-gray)] -mt-20">
  <p class="max-w-3xl text-[1.3rem] md:text-[1.4rem] leading-relaxed !text-white font-serif italic fade-in-on-scroll">
    "There's lots of ways to be, as a person. And some people express their deep appreciation in different ways.
    But one of the ways that I believe people express their appreciation to the rest of humanity is to make
    something wonderful and put it out there.<br /><br />

    And you never meet the people. You never shake their hands. You never hear their story or tell yours.
    But somehow, in the act of making something with a great deal of care and love, something's transmitted there.
    And it's a way of expressing to the rest of our species our deep appreciation. So we need to be true to who we are
    and remember what's really important to us.<br /><br />

    — Steve, 2007
  </p>
</div>
